.wrap {
  @apply text-gray-600;
}

.time {
  @apply flex justify-start items-center;
}
.time__icon {
  @apply mr-1;
}

.tags {
  @apply flex flex-wrap m-0 p-0 list-none;
}
.tags__item {
  @apply mt-2 mr-2 flex justify-start items-center;
}
.tags__anchor {
  @apply text-gray-600 px-1 py-1;
}
.tags__anchor:hover {
  @apply no-underline;
}
.tags__icon {
  @apply mr-1;
}
