// Layout
$pc-content-width: 80rem;
$pc-content-padding: 4rem;

$sidebar-width: 24rem;
$sp-sidebar-width: 24rem;

$header-height: 5rem;

// Colors
$color-base-text: #333;
$color-base-red: #F35252;

// Responsive
$sp-width: 375;
$sp-width-breakpoint: $sp-width * 2;

$pc-big-width: $pc-content-width + $pc-content-padding;

// Transition
$transition-base-speed: 0.2s;
