.c-hero {
  @apply h-48 flex justify-center items-center relative text-center text-white;

  &.is-large {
    height: 16rem;
    @screen sm {
      height: 24rem;
    }
  }

  &__figure {
    @apply absolute inset-0 bg-gray-500;
  }

  &__image {
    @apply w-full h-full object-cover align-top;
  }

  &__inner {
    @apply relative;
  }

  &__title {
    @apply text-4xl font-black tracking-wide m-0;
    text-shadow: 0.02em 0.02em 0 #000;

    @screen sm {
      @apply text-6xl;
    }
  }

  &__sub-title {
    @apply text-base font-normal;
    text-shadow: 0.02em 0.02em 0 #000;

    @screen sm {
      @apply text-2xl;
    }
  }

  &__socials {
    @apply flex justify-center items-center mt-4;

    &__item {
      color: inherit;
      @apply flex justify-center items-center border border-solid border-white rounded-full w-8 h-8 mx-2 transition-colors duration-300;

      &:hover {
        @apply bg-white text-black;
      }
    }
  }
}
