.c-sidebar {
  transition: transform var(--transition-speed);
  transform: translateX(calc(var(--sidebar-width) * -1));
  width: var(--sidebar-width);
  @apply fixed top-0 bottom-0 left-0 bg-white overflow-auto pb-16;

  @screen md {
    @apply pb-0;
  }

  &.is-show {
    transform: translateX(0);
  }

  &__avatar {
    height: var(--sidebar-width);
    @apply flex flex-col justify-center items-center bg-gray-300;

    &__figure {
      @apply m-0 mb-4 text-center;

      &__img {
        @apply w-4/12;
      }
    }
  }
}
