.wrap {
  transition: transform var(--transition-speed);
  transform: translateX(calc(var(--sidebar-width) * -1));
  width: var(--sidebar-width);
  @apply fixed top-0 bottom-0 left-0 bg-white overflow-auto pb-16;
}

.wrap[data-show] {
  transform: translateX(0);
}

.avatar {
  height: var(--sidebar-width);
  @apply flex flex-col justify-center items-center bg-slate-200;
}

.avatar__figure {
  @apply m-0 mb-4 text-center;
}

.avatar__figure__img {
  @apply w-4/12 h-auto;
}

.nav {
}
.nav__head {
  @apply text-center text-sm text-slate-800;
}
.nav__list {
  @apply m-0 p-0 list-none border-solid border-0 border-t border-gray-300;
}
.nav__item {
  @apply border-solid border-0 border-b border-gray-300 text-sm;
}
.nav__anchor {
  @apply block p-4 no-underline text-slate-600;
}
.nav__anchor:hover {
  @apply text-slate-800 bg-slate-50;
}

.toc {
}
.toc__head {
  @apply text-center text-sm text-slate-800;
}
.toc__list {
  @apply m-0 p-0 list-none border-solid border-0 border-t border-gray-300;
}
.toc__item {
  @apply border-solid border-0 border-b border-gray-300 text-sm;
}
.toc__anchor {
  @apply block p-4 no-underline text-slate-600;
}
.toc__anchor[data-level="3"] {
  @apply py-3 px-4 pl-6;
}
.toc__anchor[data-level="4"] {
  @apply py-2 px-4 pl-8 text-sm;
}
.toc__anchor:hover {
  @apply text-slate-800 bg-slate-50;
}
