---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { PER_PAGE } from "../const";
import PageMeta from "../components/PageMeta.astro";
import Hero from "../components/Hero.astro";
import Side from "../components/Side.astro";
import ArchivePost from "../components/ArchivePost.astro";
import Header from "../components/Header.astro";

const allPosts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
const posts = allPosts.slice(0, PER_PAGE);
const hasNext = allPosts.length > PER_PAGE;
---

<BaseLayout>
    <PageMeta slot="head" description="名古屋のWeb制作会社につとめるプログラマーのつぶやき" />

    <Header isPageTitle />

    <main>
        <div class="l-container">
            <div class="c-archive">
                {posts.map((post) => <ArchivePost post={post} />)}
            </div>

            <nav>
                <ul class="c-navigation has-sm-padding">
                    <li class="c-navigation__item" data-prev></li>
                    <li class="c-navigation__item" data-next>
                        {
                            hasNext && (
                                <a
                                    rel="next"
                                    href="/page/2"
                                    class="c-navigation__anchor"
                                >
                                    NEXT PAGE
                                </a>
                            )
                        }
                    </li>
                </ul>
            </nav>
        </div>
    </main>
</BaseLayout>

<style lang="scss">
    .wrap {
        @apply grid grid-cols-1 gap-10 pb-8;
    }

    .nav {
        @apply flex gap-4 justify-start items-center py-8;

        &__item {
            @apply m-0;
        }
    }
</style>
