---
interface Props {
    isPageTitle?: boolean;
}
const { isPageTitle = false } = Astro.props;
---
<div class="wrap">
    <div class="l-container">
        <div class="inner">
            {isPageTitle && <h1 class="title">SUSH-i LOG</h1>}
            {!isPageTitle && <p class="title"><a href="/">SUSH-i LOG</a></p>}
            <p class="sub_title">名古屋のWeb制作会社につとめるプログラマーのつぶやき</p>
        </div>
    </div>
</div>

<style lang="scss">
    .wrap {
        @apply pt-10;
    }

    .inner {
        @apply pb-8 border-0;

        @screen sm {
            @apply pb-9;
        }
    }

    .title {
        @apply text-2xl font-black tracking-wide m-0;

        @screen sm {
            @apply text-2xl;
        }
    }

    .sub_title {
        @apply text-sm font-normal mt-2;

        @screen sm {
            @apply text-base;
        }
    }
</style>
