.l-wrapper {
  @apply overflow-hidden relative pb-16;

  @screen md {
    @apply pb-0;
  }

  &__main {
    transition: transform var(--transition-speed);
    @apply min-h-screen;

    &.is-avoid {
      transform: translateX(calc(var(--sidebar-width) / 2));

      @media (min-width: 1560px) {
        transform: translateX(0);
      }
    }
  }
}
